.gradle/
build/
docker/libs/
bin/
out/
infrastructure/terraform/.terraform/
.checkstyle
/log/
/test-output/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### STS ###

.apt_generated
.classpath

.factorypath

.project

.settings

.springBeans
